.hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.8vw;
}

::-webkit-scrollbar-thumb {
  background: #996d43;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(125, 95, 55);
}

::-moz-selection {
  background: none;
}

::selection {
  background: none;
}

p::-moz-selection, h2::-moz-selection, span::-moz-selection {
  background: rgba(66, 36, 9, 0.431372549);
}

p::selection,
h2::selection,
span::selection {
  background: rgba(66, 36, 9, 0.431372549);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anchor {
  text-decoration: none;
  color: white;
}

.mobile-nav-cont {
  display: none;
}

nav {
  width: 100vw;
  height: 15vh;
  font-size: 1.2vw;
}

.nav-back-contacts {
  background: linear-gradient(180deg, #331d09 0%, rgb(35, 19, 4) 30%, rgb(0, 0, 0) 100%);
}

.nav-back {
  background: linear-gradient(180deg, #422409 0%, #1f0f01 100%);
  padding-bottom: 10vw;
  margin-bottom: 10vw;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-img img {
  width: 15vw;
  height: 10vw;
  margin-top: 1vw;
}

nav a:focus {
  outline: 0;
}

nav a {
  text-decoration: none;
}

.nav-span a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  transition: color 0.2s ease;
}

.nav-span a:hover,
.nav-span a:focus {
  color: #bb8b5e;
}

.nav-cont-left,
.nav-cont-right {
  display: flex;
  border-top: 0.1vw solid white;
  border-bottom: 0.1vw solid white;
  padding: 1.3vw 0;
  margin-top: 1vw;
}

.nav-cont-left span {
  margin-left: 6vw;
}

.nav-cont-right span {
  margin-right: 5vw;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(180deg, #422409 0%, #1f0f01 100%);
  width: 100vw;
  margin-top: 5vw;
  -webkit-clip-path: polygon(50% 30%, 57% 0, 100% 0, 100% 100%, 60% 100%, 32% 100%, 0 100%, 0 0, 43% 0);
          clip-path: polygon(50% 30%, 57% 0, 100% 0, 100% 100%, 60% 100%, 32% 100%, 0 100%, 0 0, 43% 0);
}

.footer div:first-child {
  margin-top: 14vw;
}

.footer-logo {
  width: 16vw;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: -2vw;
}

.footer-icons {
  margin-top: 1vw;
  display: flex;
  -moz-column-gap: 4vw;
       column-gap: 4vw;
  margin-bottom: 1vw;
}

.footer-icons svg {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.footer svg {
  width: 3vw;
}

.footer-icons svg:hover {
  transform: scale(1.2);
  filter: saturate(150%);
  outline: 0;
}

.mobile-nav-logo {
  width: 100px;
  height: 60px;
  margin: 0 3vw;
  margin-top: 20px;
  outline: 0;
}

.mobile-nav {
  position: fixed;
  width: 100vw;
  height: 95px;
  background: linear-gradient(180deg, #422409 0%, #301905 100%);
  z-index: 9;
  top: 0;
}

.nav-link-mobile-div {
  display: grid;
  position: fixed;
  z-index: 9;
  width: 100vw;
  min-height: calc(90vh - 95px);
  height: calc(100dvh - 95px);
  top: 95px;
  background: linear-gradient(180deg, #422409 0%, #301905 100%);
  margin-top: 4rem;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
}

.nav-link-mobile-div.show {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}

.nav-link-mobile {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  outline: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-family: Montserrat;
}

.nav-link-mobile-div div:last-of-type .nav-link-mobile {
  border-bottom: 0;
}

.nav-link-mobile:hover {
  cursor: pointer;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.05);
}

.dark-after {
  overflow: hidden;
}

body::after {
  content: "";
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 95px;
  transition: all 0.4s;
  z-index: 6;
}

body.dark-after::after {
  opacity: 1;
  visibility: visible;
}

.burger {
  position: absolute;
  margin-left: 20px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  right: 1vw;
  top: 35px;
  transform: scale(0.6);
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}

@media screen and (max-width: 479px) {
  .footer {
    -webkit-clip-path: polygon(50% 30%, 65% 0, 100% 0, 100% 100%, 60% 100%, 32% 100%, 0 100%, 0 0, 35% 0);
            clip-path: polygon(50% 30%, 65% 0, 100% 0, 100% 100%, 60% 100%, 32% 100%, 0 100%, 0 0, 35% 0);
  }
  .footer div:first-child {
    margin-top: 30vw;
  }
  .footer svg {
    width: 9vw;
    margin-top: 3vw;
  }
  .footer-icons {
    -moz-column-gap: 12vw;
         column-gap: 12vw;
    margin-bottom: 4vw;
  }
  .footer-logo {
    width: 40vw;
  }
}
@media screen and (min-width: 480px) and (max-width: 1023px) {
  .nav-link-mobile-div {
    width: 50vw;
    margin-top: 0;
    left: -15rem;
    filter: drop-shadow(2px 6px 3px black);
  }
  .nav-link-mobile-div.show {
    left: 0;
  }
}
@media screen and (min-width: 551px) and (max-width: 1023px) and (min-height: 1000px) and (max-height: 1400px) {
  .nav-link-mobile-div {
    height: calc(60vh - 95px);
  }
}
@media screen and (max-width: 1023px) {
  .mobile-nav-cont {
    display: block;
  }
  nav {
    display: none;
  }
}
nav {
  position: absolute;
}

.nav-span a:hover,
.nav-span a:focus {
  color: #996d43;
}

.home-background-desktop {
  width: 100vw;
  height: 56.25vw;
}
@media screen and (max-width: 1023px) {
  .home-background-desktop {
    margin-top: 5.5rem;
  }
}

.bg-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  font-size: 8vw;
  position: absolute;
  width: 100vw;
  margin-top: -38vw;
  font-family: Playfair Display;
  cursor: default;
  color: white;
  letter-spacing: 0.5vw;
}

.bg-title div:nth-child(odd) {
  margin-top: 1vw;
  font-family: serif;
  letter-spacing: normal;
  font-size: 4vw;
}

.bg-title-stables {
  display: flex;
  justify-content: center;
  width: 100vw;
  font-size: 7vw;
  letter-spacing: 0.4vw;
  position: absolute;
  margin-top: -27.5vw;
  font-family: Playfair Display;
  background: linear-gradient(#f9d8b9, #efb784);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}

.horse-icon-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100vw;
  margin-top: -7.6vw;
}

.horse-icon-cont img {
  width: 7.5vw;
  height: 7.5vw;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 2vw;
       column-gap: 2vw;
  margin-top: 2vw;
}

.wwa {
  width: 5vw;
  height: 44.45vw;
  background: #bb8b5e;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.wwa-title {
  color: black;
  font-family: Playfair Display;
  font-size: 6vw;
  transform: rotate(-90deg);
  position: absolute;
  margin-left: -15.8vw;
  cursor: default;
}

.home-horse {
  width: 26.7vw;
  height: 44.45vw;
}

.the {
  font-size: 3vw;
  color: #996d43;
}

.home-para {
  width: 34.95vw;
  margin-right: 6vw;
}

.home-para p {
  font-size: 1.57vw;
  font-weight: 500;
  color: black;
  font-family: Montserrat;
}

.home-para a {
  color: #996d43;
  text-decoration: none;
  transition: color 0.2s;
}

.home-para a:hover {
  color: #bb8b5e;
}

@media screen and (max-width: 479px) {
  .home-content {
    flex-wrap: wrap;
    align-items: start;
    margin-top: 2rem;
  }
  .home-para {
    order: 1;
    width: 85vw;
    margin-left: 8vw;
    margin-top: 5vw;
  }
  .home-para p {
    font-size: 5vw;
    line-height: 6.1vw;
  }
  .wwa {
    width: 12vw;
    height: 96.3vw;
  }
  .wwa-title {
    font-size: 14vw;
    margin-left: -37vw;
  }
  .the {
    font-size: 8vw;
  }
  .home-horse {
    width: 57.8vw;
    height: 96.3vw;
  }
}/*# sourceMappingURL=Home.css.map */